.calculator {
    text-align: center;
    margin: 0 auto;
    padding: 50px 0;
    width: 400px;
}
@media (max-width: 1000px) {
    .calculator {
        width: 75%;
        margin: 0 auto;
    }
}
.calculator-screen {
    width: 100%;
    height: 100px;
    color: #fff;
    background-color: #252525;
    text-align: right;
    font-size: 36px;
    border: none;
    padding: 0 20px;
    box-sizing: border-box;
}

.calculator-keys {
    width: 100%;
}

.row {
    display: flex;
}

button {
    height: 80px;
    background-color: gray;
    border: 1px solid black;
    font-size: 32px;
    color: #fff;
    width: 25%;
    outline: none;
}

.all-clear, .zero-btn {
    width: 50%;
}

.operator, .equal-sign {
    background-color: orange;
}

button:hover {
    background-color: darkgray;
}

.operator:hover, .equal-sign:hover {
    background-color: darkorange;
}